:root{
    --color-primary-dark: #e30d34;
    --color-primary: #FF1C44;
    --color-secondary-dark: #494F66;
    --color-secondary: #676F8F;
    --color-secondary-light: #A9AFD9;
    --color-secondary-extra-light: #D7DBF5;
    --color-tertiary: #6464FA;
    --color-tertiary-ligth: #6F7DFF;
    --color-check:#389E0D;
    --color-check-light:#7CC954;
    --color-background: #FAFBFF;
    --color-borde:#C5CBE0;
    --color-transparente: #ffffff00;
}