@import "./common.css";
@import "./color.css";

.container{
    width: 82%;
    margin: auto;
}

.subtitle{
    font-size: 28px;
    color: var(--color-secondary-dark);
    letter-spacing: -.6px;
}

.button-primary{
    color: white;
    background-color: var(--color-primary);
    padding: 20px 60px;
    border-radius: 8px;
    transition: all .3s;
    font-weight: 700;
    letter-spacing: .8px;
    font-size: 14px;
}

.checkbox-small{
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    border: 1px #C5CBE0 solid;
    border-radius: 4px;
    padding: 10px;
} 

.checkbox-small:checked{
    background-color: #09ae17;
    border-color: #09ae17;
}


.checkbox-small:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
}

.form-wrapper{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

/* Utility */
.w-full{
    width: 100%;
}

.switch-container{
    display: flex;
}

.switch-checkbox {
  visibility: hidden;
  position: absolute;
}

.switch-label {
  cursor: pointer;
  width: 50px;
  height: 30px;
  background: #D7DBF5; 
  border-radius: 15px;
  position: relative;
  transition: background-color 0.3s;
}

.switch-label::after {
  content: '';
  position: absolute;
  top: 1px; 
  width: 28px; 
  height: 28px;
  background: #fff; 
  border-radius: 50%; 
  transition: 0.3s; 
}

.switch-checkbox:checked + .switch-label {
  background: var(--color-check-light); 

}

.switch-checkbox:checked + .switch-label::after {
  left: calc(100% - 1px); 
  transform: translateX(-100%); 
}

/* clase que defina el elemento, field-input */

.element-form{

    /* min-width: 288px;  */
    /* max-width: 350px; */
    height: 56px;
    border: 1px solid var(--color-borde);
    border-radius: 4px;
    padding: 16px;
    line-height: 24px;
    color: var(--color-secondary-dark);
}

.element-form::placeholder{
    color: #A9AFD9;
    font-size: 16px;
}

.element-form:focus{
    outline: 1px solid var(--color-secondary-dark);
}

.numdoc-form{
    display: flex;
}

.sin-borde-derecho{
    border-radius: 4px 0 0 4px; 
}

.sin-borde-izquierdo{
    border-radius: 0 4px 4px 0; 
}

.txt-llamar{
    color: var(--color-tertiary-ligth);
    font-size: 14px;
}

.desktop{
    display: none;
}

