@import "./common.css";
@import "./color.css";
@import "./components.css";


.desktop {
  display: none;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

/* ------------------
HEADER ---------------
----------------------*/

.header {
  position: fixed;
  width: 100%;
  grid-area: header;
  height: 56px;
  align-content: center;
  background-color: var(--color-background);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacto {
  display: flex;
  gap: 6px;
  align-items: center;
}

.header__question {
  color: var(--color-secondary);
  font-size: 12px;
}

.header__logo {
  width: 92px;
  height: 16px;
}

.icono-llamar {
  width: 24px;
  height: 24px;
}

/* ------------------
MAIN ---------------*/
/* ------------------
MAIN WELCOME ---------------*/
.main {
  grid-area: main;
}

.main__welcome {
  background-color: var(--color-background);
}

.welcome__container {
  display: flex;
  height: 308px;
}

.main__information {
  width: 72%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 16px;
}

.main__firstparagraph {
  font-size: 10px;
  color: var(--color-secondary-dark);
  font-weight: 700;
  letter-spacing: 0.8;
}

.main__secondparagraph--thirdword {
  color: red;
}

.main__thirdparagraph {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

.main__image--mobile {
  position: absolute;
  right: 0;
  top: 98px;
}

/* ------------------
MAIN FORM ---------------
-------------------------*/
.form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-home__h2 {
  font-size: 24px;
}

.numdoc-form select {
  border-right: 1px #c5cbe0 solid;
  border-radius: 4px 0 0 4px;
  color: #494f66;
  appearance: none;
  background-image: url("../img/desglose-rojo.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px;
}

.check-politica-container {
  display: flex;
  gap: 18px;
}

.txt-politica {
  font-size: 12px;
  color: var(--color-secondary-light);
}

.enlace-politica {
  font-size: inherit;
  color: var(--color-secondary);
  text-decoration: underline;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-home__h2 {
  font-size: 24px;
}


/* /////////////////////////////////// */
.mensaje-error  {
  color: var(--color-primary);
  font-size: 0.85em;

}

.input-error > input{
  border: 1px solid red !important;
  border-radius: 4px;
  outline: none;
}
/* /////////////////////////////////// */


/* ------------------
FOOTER ---------------
-------------------------*/

.footer {
  grid-area: footer;
}

/* ------------------
MEDIAS ---------------
-------------------------*/
@media (1024px < width) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  /* ------------------
    HEADER ---------------
    ------------------*/
  .header {
    background-color: var(--color-transparente);
  }

  /* ------------------
    MAIN ---------------*/
  /* ------------------
    MAIN WELCOME ---------------*/
  .main__welcome {
    background-color: var(--color-transparente);
    background-image: url(../img/fondo-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main {
    display: flex;
  }

  .main__welcome {
    width: 40%;
    height: 100vh;
  }

  .welcome__container {
    flex-direction: column;
    width: 60%;
    margin-left: 28%;
    padding-top: 50px;
  }

  .main__information {
    width: 100%;
  }

  .main__firstparagraph {
    font-size: 14px;
  }

  .main__secondparagraph span {
    font-size: 36px;
  }

  .main__secondparagraph--secondword {
    color: var(--color-primary);
  }

  .form-home {
    width: 60%;
  }

  /* ------------------
    FORM ---------------
    ---------------*/

  .form__container {
    width: 50%;
    margin-left: 15%;
    margin-top: 5%;
    padding-top: 50px;
  }

  .button-primary {
    width: fit-content;
  }

  /* ------------------
    FOOTER ---------------
    ---------------*/
  .footer {
    margin-top: -40px;
  }

  .txt-footer {
    color: var(--color-secondary-light);
    font-size: 12px;
  }
}


